extends layout

block content
  .container
    .jumbotron.text-center
      h1
        spann.fa Welcome to the estimator
      h4
        spann.fa powered by APE Team
      br
      br
      br
      form(method='post',action='/result')
        p Current GPA：
          input#inputUserGPA(type='text',name = 'inputGPA',placeholder = 'eg. 3.65')
        p Class#1 Department：
          input#inputClassNumber(type='text', name = 'classadep', placeholder = 'eg. CMPE')
          field number：
          input#inputClassTeacher(type='text',name = 'classanum',placeholder = 'eg. 202')
        p Class#2 Department：
          input#inputClassGrade(type='text',name = 'classbdep',placeholder = 'eg. CMPE')
          field number：
          input#inputClassGpa(type='text',name = 'classbnum',placeholder = 'eg. 202')
        p Class#3 Department：
          input#inputClassGrade(type='text',name = 'classcdep',placeholder = 'eg. CMPE')
          field number：
          input#inputClassGpa(type='text',name = 'classcnum',placeholder = 'eg. 202')
        button#btnAddClass Estimate
block script

