//Created by lingqianxie on 4/26/15.

extends layout
block content
   .container
      .jumbotron
         h2 Class Performance Estimator
         p Welcome,
            strong #{first} #{last}
         #haha #{title}

            // Wrapper
         #wrapper
            #classInfo
               h3 Class Detail
               p
                  strong Department:
                  | <span id='classInfoDepartment'></span>
                  br
                  strong Class Number:
                  | <span id='classInfoNumber'></span>
                  br
                  strong Teacher:
                  | <span id='classInfoTeacher'></span>
                  br
                  strong Grade:
                  | <span id='classInfoGrade'></span>
                  br
                  strong Concurrent GPA:
                  | <span id='classInfoGPA'></span>
            h3 Class List
            #classList
               table
                  thead
                     th Class
                     th Teacher
                     th Delete?
                  tbody

            h3 Add Class
            #addClass
               fieldset
                  p Department：
                     input#inputClassDepartment(type='text',placeholder = 'eg. CMPE')
                  p Class Number：
                     input#inputClassNumber(type='text',placeholder = 'eg. 202')
                  p Teacher：
                     input#inputClassTeacher(type='text',placeholder = 'eg. Paul')
                  p Grade(in number)：
                     input#inputClassGrade(type='number',placeholder = 'eg. A- is 3.67')
                  p concurrent GPA：
                     input#inputClassGpa(type='number',placeholder = 'eg. 3.65')
                     p (* this is the overall GPA at corresponding semester. If you are lazy to calculate this number, just enter your overall GPA)
                  button#btnAddClass Add Class

block script
   script(src='/javascripts/global.js')