body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin:0 0 .5em 0;
}

 .container {
   width: 940px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

nav ul li{
  font-size: 17px;
}

.jumbotron {
  margin-left: -15px;
  margin-right: 15px;
}



#wrapper {
  padding-left:312px;
  position:relative;
}

#classList {
  margin:0 0 30px 0;
}
  #classList table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
  }
    #classList table th {
      background:#EEE;
      font-weight:600;
      padding:10px 20px;
      text-align:center;
    }
    #classList table tbody {
      padding:0; margin:0;
      border-collapse:collapse;
      border-spacing:0px;
    }
    #classList table td {
      background:#FFF;
      padding:5px 10px;
      text-align:center;
    }

#classInfo {
  width:250px;
  position:absolute;
  top:0; left:0;
}

#classInfo p {
  font-size: 13px;
  padding:13px;
  border:1px solid #CCC;
  background:rgba(80,120,255,0.05);
}

fieldset {
  border:0;
  padding:0; margin:0;
}

#haha {
  display: none;
}

body,
div,
label {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #484848;
}

a {
  color: #0072dd;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
}

#addClass p{
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  color: cadetblue;
}